body {
  font-family: "DM Sans", sans-serif;
  margin: auto;
  max-width: 1400px;
}

#bground {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.close {
  width: 30px;
}
.close:hover {
  transform: rotate(-20deg);
}

.card_name {
  height: 300px;
  margin: 0 100px;
  padding: 0 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.button_none {
  display: none;
}
.contact_button {
  font-size: 20px;
  font-weight: bold;
  color: white;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901c1c;
  border-radius: 5px;
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.contact_button:hover {
  background-color: #3876ac;
}
.photograph-work {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  margin-top: 100px;
}
.lineblock {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #901c1c;
}
.heart_work {
  width: 20px;
  padding-left: 10px;
}
.card_work {
  width: 350px;
  height: 350px;
  margin: 0 10px;
}
.media_work {
  width: 350px;
  height: 300px;
}
.media_work img {
  width: 350px;
  height: 300px;
}
.work_img {
  object-fit: cover;
}
.media_work video {
  width: 350px;
  height: 300px;
}
.work_video {
  object-fit: cover;
}
.titleBlock {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #901c1c;
}
.title {
  margin: 0;
  font-weight: normal;
  font-size: 20px;
  line-height: 47px;
}
.likes {
  margin: 0;
  font-weight: bold;
  font-size: 18px;
  line-height: 47px;
}
.likes_price {
  width: 350px;
  height: 60px;
  position: fixed;
  bottom: 0;
  right: 0;
  background-color: #db8876;
}
.modal {
  border-radius: 5px;
  background-color: #db8876;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 10px 35px;
  margin: auto;
}

.modal header {
  justify-content: space-between;
  width: 100%;
}

.modal header img {
  cursor: pointer;
}

.modal header h2 {
  font-size: 40px;
  font-weight: normal;
  text-align: center;
}
.modal header .contact_name {
  font-size: 50px;
  font-weight: normal;
  text-align: center;
}
form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}

form label {
  color: #312e2e;
  font-size: 20px;
}

form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
  margin-bottom: 10px;
}

form input {
  width: 100%;
  height: 40px;
  border: none;
  border-radius: 5px;
  font-size: 24px;
}
form textarea {
  width: 100%;
  height: 150px;
  border: none;
  border-radius: 5px;
  font-size: 24px;
}
.send_button {
  font-size: 20px;
  font-weight: bold;
  color: white;
  width: 170px;
  height: 50px;
  border: none;
  background-color: #901c1c;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px 0;
}
#lightbox {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #312e2e73;
}
