html {
  font-size: 100%;
}

body {
  font-family: "DM Sans", sans-serif;
  margin: auto;
  max-width: 1400px;
}

.card_name {
  height: 300px;
  margin: 0 100px;
  padding: 0 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.button_none {
  display: none;
}
.contact_button {
  font-size: 1.3em;
  font-weight: bold;
  color: white;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901c1c;
  border-radius: 5px;
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.contact_button:hover {
  background-color: #3876ac;
}
.photograph-work {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  margin-top: 100px;
}
.photograph-work .likeblock {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #901c1c;
  cursor: pointer;
}
.photograph-work .heart_work {
  width: 20px;
  padding-left: 10px;
}
.photograph-work .card_work {
  width: 350px;
  height: 350px;
  margin: 0 10px;
}
.photograph-work .card_work:hover {
  scale: 1.05;
}
.photograph-work .media_work {
  width: 350px;
  height: 300px;
}
.photograph-work .media_work img {
  width: 350px;
  height: 300px;
}
.photograph-work .work_img {
  object-fit: cover;
}
.photograph-work .media_work video {
  width: 350px;
  height: 300px;
}
.photograph-work .work_video {
  object-fit: cover;
}
.photograph-work .titleBlock {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #901c1c;
}
.photograph-work .title {
  margin: 0;
  font-weight: normal;
  font-size: 1.3em;
  line-height: 47px;
}
.photograph-work .likes {
  margin: 0;
  font-weight: bold;
  font-size: 1.1em;
  line-height: 47px;
}
.likes_price {
  width: 350px;
  height: 60px;
  position: fixed;
  bottom: 0;
  right: 5%;
  background-color: #db8876;
  display: flex;
  align-items: center;
  border-radius: 10px 10px 0 0;
}
.totalLikeBox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  color: black;
  font-size: 1.4em;
}
.totalLikeBox img {
  width: 22px;
  margin-left: 5px;
  padding-top: 5px;
}
.photographerPrice {
  font-size: 1.4em;
}
#bground {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: #0000006c;
  z-index: 1;
}
.close_modal {
  position: absolute;
  top: 20px;
  right: 10%;
  font-size: 2em;
  color: rgb(255, 255, 255);
}
.close_modal:hover {
  transform: rotate(-20deg);
}
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  background-color: #db8876;
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 5px 35px;
  margin: auto;
}

.modal header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
}

.modal header img {
  cursor: pointer;
}

.modal header .contactMe {
  font-size: 1.7em;
  font-weight: normal;
  text-align: center;
}
.modal header .contact_name {
  font-size: 1.7em;
  font-weight: normal;
  text-align: center;
}
form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}

form label {
  color: #312e2e;
  font-size: 1.3em;
}

form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
  margin-bottom: 10px;
}

form input {
  width: 100%;
  height: 40px;
  border: none;
  border-radius: 5px;
  font-size: 1em;
}
form textarea {
  width: 100%;
  height: 150px;
  border: none;
  border-radius: 5px;
  font-size: 1.4em;
  font-family: "DM Sans", sans-serif;
}
.send_button {
  font-size: 1.3em;
  font-weight: bold;
  color: white;
  width: 170px;
  height: 50px;
  border: none;
  background-color: #901c1c;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px auto 0;
}
.send_button:hover {
  background-color: #3876ac;
}
#lightbox {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  align-items: center;
  justify-content: center;
}
#lightbox .close {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 2em;
  color: #901c1c;
}
#lightbox .chevron {
  width: 5%;
  font-size: 2.5em;
  color: #901c1c;
  text-align: center;
}
.card_lightbox {
  width: 1050px;
  height: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.card_lightbox video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card_lightbox img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.media_title {
  color: #901c1c;
}
.no-scroll {
   overflow: hidden;
}
.formData[data-error]::after {
  content: attr(data-error);
  font-size: 1em;
  color: #000000;
  display: block;
  margin-top: 7px;
  margin-bottom: 7px;
  text-align: left;
  line-height: 0.3;
  opacity: 0;
  transition: 0.3s;
}

.formData[data-error-visible="true"]::after {
  opacity: 1;
}

input[data-error]::after {
  content: attr(data-error);
  font-size: 0.6em;
  color: red;
}