@import url("photographer.css");

html {
  font-size: 100%;
}

body {
  font-family: "DM Sans", sans-serif;
  margin: auto;
  max-width: 1400px;
}

header {  
  display: flex;
flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 90px;
}
header a:focus {
  outline: none;
  scale: 1.1;
}
h1 {
  color: #901c1c;
  margin-right: 100px;
  font-size: 2em;
}

.logo {
  height: 50px;
  margin-left: 100px;
}

.photographer_section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 70px;
  margin-top: 100px;
}
.name:focus {
  outline: none;
  scale: 1.1;
}
.card-profils {
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  scale: 1;
  padding-bottom: 20px;
}

.card-profils:hover {
  scale: 1.1;
}
.card-profils:focus {
  outline: none;
  scale: 1.1;
}
.card-profils a {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
}

.h2name {
  margin: 20px 0 0;
  color: #d3573c;
  font-weight: normal;
  font-size: 2.2em;
  line-height: 47px;
}

.imguser {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.4);
  overflow-clip-margin: unset;
}
.h3city {
  margin: 0;
  font-weight: normal;
  font-size: 1.5em;
  line-height: 47px;
  color: #901c1c;
}
.card-profils p {
  margin: 0 0 3px;
  text-align: center;
}

.tag {
  font-size: 1em;
}

.price {
  font-size: 0.8em;
  color: #757575;
}
